@media (max-width: 425px) {

    .principal{
        display: flex;
        flex-direction: column;
        padding: 100px 0px 100px 0px;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .principal .nome-texto {
        width: 30px;
    }

    .principal .nome-texto .digitando{
         width: 250px;
         margin-bottom: 20px;
    }

    .apresentacao-vsantos{
        width: 100%;
    }

    .apresentacao-vsantos .texto{
        width: 300px;
    }
    
    .areas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    
    }

    .areas .quadrado-area img{
        width: 100px;
    }


    .divisoria{
        height: 70px;
    }

    .areas-extenso {
        padding: 20px 5px 40px 5px;
        
    }
 }