.cabecalho{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    justify-content: space-between;
}

.cabecalho .logo{
    display: flex;
    margin: 10px;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.cabecalho .logo p{
    font-size: 23px;
}

.cabecalho .menu{
    display: flex;
    width: 50%;
    background-color: darkslateblue;
    align-items: center;
    justify-content: end;
    padding: 20px;

}

.cabecalho .menu ul{
    display: flex;
    gap: 20px;
    
}

.cabecalho .menu ul a:hover{
    color:black;
}

.principal{
    display: flex;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
}

.principal .perfis{
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 70px;
    width: 300px;
    height: 300px;
    border-radius: 50%;

}

.principal .perfis img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.principal .nome-texto{
    margin-top: 150px;
    width: 50%;
    height: 180px;
    background-color: darkslategrey;
    justify-content: flex-end;

}


.principal .nome-texto h1{
    font-size: 30px;
}

.principal .nome-texto p{
    font-size: 20px;
}

.titulo-areas{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    background-color: grey;
}
.areas{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px 150px;
    background-color: green;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;

}

.areas .quadrado-area{
    background-color: darkolivegreen;
    border: 1px solid black;
}

.areas-extenso{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    background-color: darkslateblue;
}

.areas-extenso .retangulo-area{
    width: auto;
    height: 100px;
    background-color:darkkhaki;
    border: 1px solid black;
} 










