.cabecalho {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--header-e-rodape);
    justify-content: space-between;
}

.cabecalho .logo {
    display: flex;
    margin: 10px;
    margin-left: 50px;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.cabecalho .logo p {
    font-size: 23px;
}

.cabecalho .menu {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
    padding: 20px;
    margin-right: 50px;
}

.cabecalho .menu ul {
    display: flex;
    gap: 30px;

}

.cabecalho .menu ul li a {
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}

.cabecalho .menu ul li a:hover {
    font-size: 20px;
    animation-duration: 3s;
    transition-delay: 0.2s; 
    text-align: center;
}

.principal {
    display: flex;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    background: url('images/estrelas.svg') no-repeat ;
    background-size: cover; 
}

.principal .perfis {
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 70px;
    width: 314px;
    height: 300px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.principal .perfis .vsantos-frente , .vsantos-atras {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 8px solid #5c53ad;
    position: absolute;
    
} 

.principal .perfis .vsantos-frente{
    position: absolute;
    backface-visibility: hidden;

}

.principal .perfis .vsantos-atras{
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.principal:hover .perfis{
    transform: rotateY(180deg);
}

.principal .nome-texto {
    margin-top: 120px;
    margin-right: 40px;
    width: 50%;
    height: 180px;
    text-align: justify;
    
}

.principal .nome-texto .digitando{
    font-size: 30px;
    width: 450px;
  
}

.principal .nome-texto .digitando span{
  position: relative;
  
}

.principal .nome-texto .digitando span::before{
    content: "";
    color: white;
    animation: nomes 20s infinite;
    color: #85ee52;
}

.principal .nome-texto .digitando span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #85ee52;
    right: -10px;
    animation: cursor .9s infinite, digitando 20s steps(60) infinite;
    width: calc(100% + 14px);
    background-color: black ;
}

@keyframes digitando{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 14px);
    }  

}

@keyframes cursor{
    0%{
        border-left: 2px solid black;
    }
}

@keyframes nomes{
    0%, 20%{
        content: "Vinícius Santos";
    }
    21%, 40%{
        content: "Vsantos";
    }
    41%, 60%{
        content: "Vini";
    }
    61%, 80%{
        content: "devsantos";
    }
    81%, 100%{
        content: "vsantosdefato";
    }
}

.principal .nome-texto p {
    font-size: 20px;
}

.apresentacao-vsantos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color:var(--container);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

.apresentacao-vsantos .texto{
    height: 110px;
    width: 900px;
}

.areas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 150px;
    background-color:var(--container); 
    padding: 100px;
    gap: 30px;
    position: relative;

}

.areas .quadrado-area {
    border: 2px solid none;
    stroke: #464646;
    border-radius: 30px;
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.areas .quadrado-area img{
    width: 120px;
}

.areas .bitcoin img{
    width: 100px;
}

.areas .quadrado-area a{
    font-size: 20px;
    padding-bottom: 15px;
    text-decoration: none;
}

.areas .quadrado-area:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.areas .quad1 {
    background-color: var(--primeira-area);
}

.areas .quad2 {
    background-color: var(--segunda-area)
}

.areas .quad3 {
    background-color: var(--terceira-area)
}

.areas .quad4 {
    background-color: var(--quarta-area)
}

.areas .quad5 {
    background-color: var(--quinta-area)
}

.areas .quad6 {
    background-color: var(--sexta-area)
}

.divisoria {
    display: flex;
    width: auto;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color:var(--container);
}

.divisoria img {
    height: 60px;
    animation: seta 0.6s infinite alternate ease-in-out;


}

@-webkit-keyframes seta {

    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: translateY(0.8em);
        opacity: 0.9;
    }
}

.areas-extenso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 20px;
    gap: 40px;
    background-color:var(--container);
}

.areas-extenso .retangulo-area {
    width: 90%;
    height: 400px;
    background-color: darkkhaki;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}


.areas-extenso .retangulo-area .retangulo-texto{
    color: black;
    text-align: start;
    font-size: 15px;
    padding: 30px;
    word-wrap: break-word;
}

.areas-extenso .retan1 {
    background-color: var(--primeira-area)
}

.areas-extenso .retan2 {
    background-color: var(--segunda-area)
}

.areas-extenso .retan3 {
    background-color: var(--terceira-area)
}

.areas-extenso .retan4 {
    background-color: var(--quarta-area)
}

.areas-extenso .retan5 {
    background-color: var(--quinta-area)
}

.areas-extenso .retan6 {
    background-color: var(--sexta-area)
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color:var(--header-e-rodape);

}

.rodape-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
} 

.rodape-container .contatos {
    display: flex;
    flex-direction: column;
    
}

.rodape-container .cursos {
    display: flex;
    flex-direction: column;
}